transformers==4.41.2
accelerate==0.33.0
soundfile==0.12.1
loguru==0.7.2
# Alineado con otros paquetes en Colab/entornos mixtos
numpy>=2,<2.3
# Evita conflicto con dataproc-spark-connect
tqdm>=4.67
pydub>=0.25.1
# gradio>=4.0.0
streamlit>=1.33.0